* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

body::-webkit-scrollbar {
  display: none;
}

header .header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}
header .header-top .header-info-left ul {
  display: flex;
  align-items: center;
}
header .header-top .header-info-left ul li {
  padding: 0 0.9rem;
}
header .header-top .header-info-left ul li:first-child, header .header-top .header-info-left ul li:nth-child(2), header .header-top .header-info-left ul li:nth-child(3) {
  border-right: 1px solid #7e7e7e;
}
header .header-top .header-info-left ul li a {
  color: #7e7e7e;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 15px;
  transition: 0.2s linear;
}
header .header-top .header-info-left ul li a:hover {
  color: #000;
}
header .header-top .mobile-promotion {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  background: #3bb77e;
  color: #fff;
  display: none;
}
header .header-top .header-info-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}
header .header-top .header-info-right .text {
  color: #7e7e7e;
  font-size: 15px;
  border-right: 1px solid #7e7e7e;
  padding: 0.1rem 1.2rem;
}
header .header-top .header-info-right .text span {
  color: #3bb77e;
}
header .header-top .header-info-right .language-select {
  position: relative;
  padding: 0.7rem 0;
  z-index: 99;
}
header .header-top .header-info-right .language-select .select-selected {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  cursor: pointer;
}
header .header-top .header-info-right .language-select .select-selected span {
  text-transform: capitalize;
  font-size: 15px;
}
header .header-top .header-info-right .language-select .select-selected img {
  width: 22px;
  height: 15px;
}
header .header-top .header-info-right .language-select .select-items {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 100%;
  right: -15px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.6rem;
  border: 1px solid #bdbcbc;
  padding: 1rem;
  background: #fff;
  transition: 0.3s linear;
}
header .header-top .header-info-right .language-select .select-items .lng-option {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  cursor: pointer;
}
header .header-top .header-info-right .language-select .select-items .lng-option span {
  text-transform: capitalize;
  font-size: 13px;
}
header .header-top .header-info-right .language-select .select-items .lng-option img {
  width: 18px;
  height: 12px;
}
header .header-top .header-info-right .language-select .select-items.active {
  visibility: visible;
  opacity: 1;
}
header .header-middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 1rem;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}
header .header-middle .logo img {
  width: 180px;
}
header .header-middle .search-bar {
  border: 2px solid #bce3c9;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  justify-content: space-between;
  padding: 0.2rem 1rem;
  border-radius: 10px;
}
header .header-middle .search-bar .selection {
  position: relative;
  padding: 1rem;
  cursor: pointer;
}
header .header-middle .search-bar .selection .selection-rendered {
  text-transform: capitalize;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  font-weight: 500;
}
header .header-middle .search-bar .selection .selection-rendered i {
  color: #7e7e7e;
  font-size: 1.1rem;
}
header .header-middle .search-bar .selection .selection-categories {
  position: absolute;
  top: 106%;
  left: -15px;
  min-width: 190px;
  border: 1px solid #f0efef;
  padding: 1rem;
  background: #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s linear;
}
header .header-middle .search-bar .selection .selection-categories input {
  border: 1px solid #bce3c9;
  outline: none;
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
}
header .header-middle .search-bar .selection .selection-categories ul {
  height: 220px;
  width: 200px;
  overflow: auto;
  padding: 0.7rem 0.1rem 0.8rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
header .header-middle .search-bar .selection .selection-categories ul .active {
  background: #7e7e7e;
}
header .header-middle .search-bar .selection .selection-categories ul li {
  width: 100%;
  padding: 0.6rem 0 0.6rem 0.2rem;
  transition: 0.2s linear;
}
header .header-middle .search-bar .selection .selection-categories ul li:hover {
  background: #3bb77e;
}
header .header-middle .search-bar .selection .selection-categories ul::-webkit-scrollbar {
  width: 5px;
  height: 100px;
  background-color: #7e7e7e;
}
header .header-middle .search-bar .selection .selection-categories ul::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 15px;
}
header .header-middle .search-bar .selection .selection-categories.active {
  visibility: visible;
  opacity: 1;
}
header .header-middle .search-bar form {
  display: flex;
  align-items: center;
  padding-right: 0.4rem;
}
header .header-middle .search-bar form input {
  border: none;
  outline: none;
  width: 20rem;
  font-size: 1rem;
}
header .header-middle .search-bar form i {
  color: #868686;
  font-size: 1.7rem;
}
header .header-middle #toggle-menu {
  display: none;
  color: #3bb77e;
  font-size: 2.5rem;
}
header .header-middle .header-action-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}
header .header-middle .header-action-right .icons {
  display: flex;
  align-items: end;
  gap: 0.2rem;
}
header .header-middle .header-action-right .icons .count-icons {
  position: relative;
}
header .header-middle .header-action-right .icons .count-icons i {
  font-size: 2.3rem;
  color: #484747;
}
header .header-middle .header-action-right .icons .count-icons .quantity {
  position: absolute;
  top: 0;
  right: -7px;
  background: #3bb77e;
  color: #fff;
  padding: 0.2rem 0.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}
header .header-middle .header-action-right .icons span {
  color: #7e7e7e;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 15px;
}
header .header-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.4rem 1rem;
  background: #fff;
}
header .header-bottom .browse_all_categories {
  border-radius: 5px;
  padding: 0.7rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3bb77e;
  cursor: pointer;
}
header .header-bottom .browse_all_categories span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  color: #fff;
  letter-spacing: 1px;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1rem;
}
header .header-bottom .browse_all_categories span i {
  font-size: 1.5rem;
}
header .header-bottom nav ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}
header .header-bottom nav ul li a {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-size: 17px;
  font-weight: 700;
  text-transform: capitalize;
  color: rgb(37, 61, 78);
  transition: 0.3s linear;
}
header .header-bottom nav ul li a:hover {
  color: #3bb77e;
}
header .header-bottom nav ul li a:hover i {
  transform: rotate(360deg);
}
header .header-bottom nav ul li a.active {
  color: #3bb77e !important;
}
header .header-bottom .headphone-contact {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
header .header-bottom .headphone-contact i {
  color: rgb(37, 61, 78);
  font-size: 2.8rem;
}
header .header-bottom .headphone-contact div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .header-bottom .headphone-contact div span {
  color: #3bb77e;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
}
header .header-bottom .headphone-contact div p {
  color: #7e7e7e;
  font-size: 0.9rem;
}

@media (max-width: 1054px) {
  header .header-middle .header-action-right {
    display: none;
  }
  header .header-bottom .headphone-contact {
    display: none;
  }
}
@media (max-width: 991px) {
  header .header-top {
    padding: 0;
  }
  header .header-top .header-info-left {
    display: none;
  }
  header .header-top .mobile-promotion {
    display: block;
    font-size: 13px;
    padding: 15px 10px;
  }
  header .header-top .header-info-right {
    display: none;
  }
  header .header-middle .search-bar {
    display: none;
  }
  header .header-middle #toggle-menu {
    display: block;
  }
  header .header-middle .header-action-right {
    display: flex;
  }
  header .header-bottom .browse_all_categories {
    display: none;
  }
}
@media (max-width: 768px) {
  header .header-bottom nav {
    display: none;
  }
}
@media (max-width: 576px) {
  header .header-middle {
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  }
  header .header-middle .logo {
    order: 2;
  }
  header .header-middle .logo img {
    width: 120px;
  }
  header .header-middle #toggle-menu {
    font-size: 2rem;
  }
  header .header-middle .header-action-right {
    order: 3;
  }
  header .header-middle .header-action-right .icons .count-icons i {
    font-size: 2rem;
  }
  header .header-middle .header-action-right .icons span {
    display: none;
  }
  header .header-middle .header-action-right .icons:nth-child(3) {
    display: none;
  }
}
main .main-slider {
  overflow: hidden;
  height: 90vh;
  padding: 2rem 1rem;
}
main .main-slider .swiper {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
main .main-slider .swiper .swiper-slide {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
}
main .main-slider .swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
main .main-slider .swiper .swiper-slide .slider-text-content {
  position: relative;
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: start;
  padding-left: 5rem;
}
main .main-slider .swiper .swiper-slide .slider-text-content h1 {
  color: #253d4e;
  font-size: 3.8rem;
  font-weight: 700;
}
main .main-slider .swiper .swiper-slide .slider-text-content p {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 5px;
  color: #7e7e7e;
}
main .main-slider .swiper .swiper-slide .slider-text-content form {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 30px;
  padding-left: 1rem;
  overflow: hidden;
  gap: 0.4rem;
}
main .main-slider .swiper .swiper-slide .slider-text-content form i {
  color: #989797;
  font-size: 1.3rem;
}
main .main-slider .swiper .swiper-slide .slider-text-content form input {
  border: none;
  outline: none;
}
main .main-slider .swiper .swiper-slide .slider-text-content form button {
  background: #3bb77e;
  color: #fff;
  border: none;
  outline: none;
  padding: 1.2rem 1.9rem;
  border-radius: 25px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.3s linear;
}
main .main-slider .swiper .swiper-slide .slider-text-content form button:hover {
  background: #287953;
}
main .main-slider .swiper .swiper-button-next,
main .main-slider .swiper .swiper-button-prev {
  padding: 1.5rem;
  border-radius: 50%;
  background: #fff;
  color: #253d4e;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s linear;
}
main .main-slider .swiper .swiper-button-next:hover,
main .main-slider .swiper .swiper-button-prev:hover {
  background: #3bb77e;
  color: #fff;
}
main .main-slider .swiper .swiper-button-next::after,
main .main-slider .swiper .swiper-button-prev::after {
  font-size: 15px;
}
main .main-slider .swiper .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background: #3bb77e;
  cursor: pointer;
  transition: 0.3s linear;
}
main .main-slider .swiper .swiper-pagination-bullet:hover {
  background: #3bb77e;
}
main .featured-categories {
  padding: 2rem 1rem;
}
main .featured-categories .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
main .featured-categories .head .heading {
  display: flex;
  align-items: center;
  gap: 2rem;
}
main .featured-categories .head .heading .title {
  color: #253d4e;
  font-weight: 700;
  line-height: 1.2;
  text-transform: capitalize;
  font-size: 2rem;
}
main .featured-categories .head .heading .category {
  display: flex;
  align-items: center;
  gap: 1rem;
}
main .featured-categories .head .heading .category li a {
  color: #253d4e;
  font-weight: 600;
  transition: 0.3s linear;
}
main .featured-categories .head .heading .category li a:hover {
  color: #3bb77e;
}
main .featured-categories .head .heading .category li:nth-child(3) a {
  color: #3bb77e;
}
main .featured-categories .head .slider-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.3rem;
  position: relative;
}
main .featured-categories .head .slider-btn .swiper-button-next,
main .featured-categories .head .slider-btn .swiper-button-prev {
  padding: 1rem;
  position: relative;
  width: 10px;
  height: 10px;
  font-size: 0.3rem;
  margin: 0.2rem 0.7rem 0 0;
  border-radius: 50%;
  background: #f2f3f4;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s linear;
}
main .featured-categories .head .slider-btn .swiper-button-next:hover,
main .featured-categories .head .slider-btn .swiper-button-prev:hover {
  background: #3bb77e;
}
main .featured-categories .head .slider-btn .swiper-button-next:hover::after,
main .featured-categories .head .slider-btn .swiper-button-prev:hover::after {
  color: #ecffec;
}
main .featured-categories .head .slider-btn .swiper-button-next:after,
main .featured-categories .head .slider-btn .swiper-button-prev:after {
  font-size: 12px;
  font-weight: 600;
  color: #253d4e;
}
main .featured-categories .featured-slider {
  margin-top: 3rem;
}
main .featured-categories .featured-slider .swiper-wrapper {
  padding: 1rem 0;
}
main .featured-categories .featured-slider .swiper-wrapper .swiper-slide {
  padding: 1.2rem 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.1rem;
  flex-direction: column;
  background-color: #fff3ff;
  transition: 0.3s linear;
  border-radius: 8px;
}
main .featured-categories .featured-slider .swiper-wrapper .swiper-slide:first-child {
  background-color: #fff3ff;
}
main .featured-categories .featured-slider .swiper-wrapper .swiper-slide:nth-child(2) {
  background-color: #fffceb;
}
main .featured-categories .featured-slider .swiper-wrapper .swiper-slide:nth-child(3) {
  background-color: #feefea;
}
main .featured-categories .featured-slider .swiper-wrapper .swiper-slide:nth-child(4) {
  background-color: #ecffec;
}
main .featured-categories .featured-slider .swiper-wrapper .swiper-slide:nth-child(5) {
  background-color: #fffceb;
}
main .featured-categories .featured-slider .swiper-wrapper .swiper-slide:nth-child(6) {
  background-color: #feefea;
}
main .featured-categories .featured-slider .swiper-wrapper .swiper-slide:nth-child(7) {
  background-color: #f2fce4;
}
main .featured-categories .featured-slider .swiper-wrapper .swiper-slide:nth-child(8) {
  background-color: #f2fce4;
}
main .featured-categories .featured-slider .swiper-wrapper .swiper-slide:nth-child(9) {
  background-color: #fff3eb;
}
main .featured-categories .featured-slider .swiper-wrapper .swiper-slide:nth-child(10) {
  background-color: #ecffec;
}
main .featured-categories .featured-slider .swiper-wrapper .swiper-slide:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
main .featured-categories .featured-slider .swiper-wrapper .swiper-slide .image {
  width: 100px;
  height: 100px;
}
main .featured-categories .featured-slider .swiper-wrapper .swiper-slide .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .featured-categories .featured-slider .swiper-wrapper .swiper-slide .content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  flex-direction: column;
}
main .featured-categories .featured-slider .swiper-wrapper .swiper-slide .content .name {
  color: #253d4e;
  font-weight: 700;
  font-size: 0.8rem;
  text-transform: capitalize;
}
main .featured-categories .featured-slider .swiper-wrapper .swiper-slide .content .count {
  color: #7e7e7e;
  font-size: 0.6rem;
  font-weight: 500;
}
main .banner {
  padding: 1.5rem 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  overflow: hidden;
}
main .banner .item {
  position: relative;
  padding: 4rem;
  border-radius: 10px;
  overflow: hidden;
}
main .banner .item .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
main .banner .item .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .banner .item .text {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  width: 70%;
  z-index: 1;
}
main .banner .item .text span {
  color: #253d4e;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.3;
}
main .banner .item .text a {
  background: #49e39b;
  display: flex;
  align-items: center;
  gap: 0.7rem;
  padding: 0.4rem 0.8rem;
  border-radius: 0.3rem;
  color: #fff;
  transition: 0.2s linear;
}
main .banner .item .text a i {
  font-size: 1.3rem;
  transition: 0.2s linear;
}
main .banner .item .text a:hover {
  background: #ffc107;
}
main .banner .item .text a:hover i {
  margin-left: 0.4rem;
}
main .popular-product {
  padding: 4rem 1rem 2.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: start;
  justify-content: start;
}
main .popular-product .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
}
main .popular-product .heading .title {
  color: #253d4e;
  font-size: 2rem;
  font-weight: 600;
}
main .popular-product .heading .category {
  display: flex;
  align-items: center;
  gap: 1rem;
}
main .popular-product .heading .category li {
  color: #253d4e;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}
main .popular-product .heading .category .active {
  color: #49e39b;
}
main .popular-product .container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  margin-top: 2rem;
}
main .popular-product .container .procut-item {
  border: 1px solid #eeeded;
  padding: 1rem 0.8rem;
  border-radius: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: 0.3s linear;
}
main .popular-product .container .procut-item:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
main .popular-product .container .procut-item .product-image {
  max-width: 240px;
  max-height: 240px;
  cursor: pointer;
  transition: 0.5s linear;
}
main .popular-product .container .procut-item .product-image:hover img:first-child {
  width: 0;
  height: 0;
}
main .popular-product .container .procut-item .product-image:hover img:last-child {
  width: 100%;
  height: 100%;
}
main .popular-product .container .procut-item .product-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s linear;
}
main .popular-product .container .procut-item .product-image img:last-child {
  width: 0;
  height: 0;
}
main .popular-product .container .procut-item .product-content-wrap {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.8rem;
  width: 100%;
}
main .popular-product .container .procut-item .product-content-wrap .product-category {
  color: #989797;
  font-size: 0.9rem;
  text-transform: capitalize;
}
main .popular-product .container .procut-item .product-content-wrap .product-title {
  color: #253d4e;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.3;
}
main .popular-product .container .procut-item .product-content-wrap .product-item-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
main .popular-product .container .procut-item .product-content-wrap .product-item-bottom .product-price {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
main .popular-product .container .procut-item .product-content-wrap .product-item-bottom .product-price .price {
  color: #49e39b;
  font-size: 1.1rem;
  font-weight: 700;
}
main .popular-product .container .procut-item .product-content-wrap .product-item-bottom .product-price .old-price {
  color: #989797;
  font-size: 0.8rem;
  font-weight: 600;
  text-decoration: line-through;
}
main .popular-product .container .procut-item .product-content-wrap .product-item-bottom .product-card-icon {
  display: flex;
  align-items: end;
  gap: 0.5rem;
  padding: 0.3rem 1.1rem;
  background: #def9ec;
  border-radius: 3px;
  transition: 0.3s linear;
  cursor: pointer;
}
main .popular-product .container .procut-item .product-content-wrap .product-item-bottom .product-card-icon:hover {
  background: #3bb77e;
}
main .popular-product .container .procut-item .product-content-wrap .product-item-bottom .product-card-icon:hover i {
  color: #fff;
}
main .popular-product .container .procut-item .product-content-wrap .product-item-bottom .product-card-icon:hover span {
  color: #fff;
}
main .popular-product .container .procut-item .product-content-wrap .product-item-bottom .product-card-icon i {
  color: #1e5f41;
  font-weight: 600;
  font-size: 1rem;
}
main .popular-product .container .procut-item .product-content-wrap .product-item-bottom .product-card-icon span {
  color: #1e5f41;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 0.7rem;
}

@media (max-width: 1200px) {
  main .popular-product .container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 991px) {
  main .main-slider {
    padding: 1rem;
    height: 60vh;
  }
  main .main-slider .swiper {
    border-radius: 20px;
  }
  main .main-slider .swiper .swiper-slide .slider-text-content {
    width: 90%;
    margin: 0 auto;
    padding: 0;
    align-items: center;
  }
  main .main-slider .swiper .swiper-slide .slider-text-content h1 {
    font-size: 2rem;
    text-align: center;
  }
  main .main-slider .swiper .swiper-slide .slider-text-content p {
    font-size: 1rem;
    text-align: center;
  }
  main .main-slider .swiper .swiper-slide .slider-text-content form button {
    padding: 1rem 1rem;
    border-radius: 25px;
    font-size: 0.8rem;
  }
  main .featured-categories .head .slider-btn {
    display: none;
  }
  main .banner {
    grid-template-columns: repeat(2, 1fr);
  }
  main .banner .item .text {
    width: 70%;
  }
  main .popular-product .container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  main .banner {
    grid-template-columns: repeat(1, 1fr);
  }
  main .banner .item {
    padding: 7rem 4rem;
  }
  main .banner .item .text {
    width: 80%;
  }
  main .popular-product .heading {
    flex-direction: column;
    align-items: start;
    gap: 1rem;
  }
  main .popular-product .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  main .featured-categories .head .heading {
    flex-direction: column;
    align-items: start;
    gap: 1rem;
  }
  main .featured-categories .head .heading .category {
    flex-wrap: wrap;
  }
  main .banner .item {
    padding: 3rem 1rem 3rem 2rem;
  }
  main .popular-product {
    padding: 3rem 1rem 1.8rem 1rem;
  }
  main .popular-product .heading .category {
    flex-wrap: wrap;
  }
  main .popular-product .container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.scroll_up {
  position: fixed;
  bottom: 1%;
  right: 1%;
  transform: translate(-1%, -1%);
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #253d4e;
  cursor: pointer;
  display: none;
}
.scroll_up i {
  color: #253d4e;
  font-size: 1.6rem;
}

.scroll_up.active {
  display: flex;
}

.dialog_modal_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dialog_modal_container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.4;
  z-index: -1;
}
.dialog_modal_container .modal-content {
  width: 60%;
  background-color: #fff;
  z-index: 1;
  border-radius: 25px;
  background-image: url(/assets/images/popup-1.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 4rem;
  position: relative;
}
.dialog_modal_container .modal-content .modal-deal {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  width: 60%;
}
.dialog_modal_container .modal-content .modal-deal .text-brand {
  color: #fdc040;
  font-size: 1rem;
  font-weight: 600;
}
.dialog_modal_container .modal-content .modal-deal .title {
  color: #253d4e;
  font-weight: 700;
  line-height: 1.2;
  font-size: 3rem;
}
.dialog_modal_container .modal-content .modal-deal .price {
  display: flex;
  align-items: baseline;
  gap: 0.3rem;
}
.dialog_modal_container .modal-content .modal-deal .price span:first-child {
  color: chartreuse;
  font-size: 4rem;
  font-weight: 700;
}
.dialog_modal_container .modal-content .modal-deal .price span:nth-child(2) {
  color: #bababa;
  text-decoration: line-through;
  font-size: 1.5rem;
  font-weight: 600;
}
.dialog_modal_container .modal-content .modal-deal .product-price-cover {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 1rem;
}
.dialog_modal_container .modal-content .modal-deal .product-price-cover p {
  color: #253d4e;
  font-size: 1rem;
  font-weight: 500;
}
.dialog_modal_container .modal-content .modal-deal .product-price-cover .countdown {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
}
.dialog_modal_container .modal-content .modal-deal .product-price-cover .countdown .time {
  border: 2px solid #3bb77e;
  padding: 0.7rem 0.9rem;
  background: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}
.dialog_modal_container .modal-content .modal-deal .product-price-cover .countdown .time #day,
.dialog_modal_container .modal-content .modal-deal .product-price-cover .countdown .time #hours,
.dialog_modal_container .modal-content .modal-deal .product-price-cover .countdown .time #minutes,
.dialog_modal_container .modal-content .modal-deal .product-price-cover .countdown .time #seconds {
  color: #3bb77e;
  font-size: 1.2rem;
}
.dialog_modal_container .modal-content .modal-deal .product-price-cover .countdown .time .time-name {
  color: #7e7e7e;
  font-weight: 500;
  font-size: 0.8rem;
}
.dialog_modal_container .modal-content .modal-deal .shop_btn {
  border-radius: 4px;
  padding: 0.5rem 1.1rem;
  background: #3bb77e;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  margin-top: 0.8rem;
}
.dialog_modal_container .modal-content .modal-deal .shop_btn:hover i {
  margin-left: 0.2rem;
}
.dialog_modal_container .modal-content .modal-deal .shop_btn span {
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  text-transform: capitalize;
}
.dialog_modal_container .modal-content .modal-deal .shop_btn i {
  color: #fff;
  font-weight: 500;
  font-size: 1.2rem;
  transition: 0.3s linear;
}
.dialog_modal_container .modal-content #close-modal-btn {
  position: absolute;
  top: 4%;
  right: 2%;
  transform: translate(-2%, -4%);
  font-size: 2rem;
  color: #7e7e7e;
  cursor: pointer;
}

.dialog_modal_container.close {
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}

@media (max-width: 1054px) {
  .dialog_modal_container .modal-content {
    width: 95%;
  }
}
@media (max-width: 991px) {
  .dialog_modal_container .modal-content .modal-deal {
    width: 85%;
  }
}
@media (max-width: 576px) {
  .dialog_modal_container .modal-content {
    padding: 2rem;
  }
  .dialog_modal_container .modal-content .modal-deal .title {
    font-size: 1.5rem;
  }
  .dialog_modal_container .modal-content .modal-deal .price span:first-child {
    font-size: 3rem;
  }
  .dialog_modal_container .modal-content .modal-deal .price span:nth-child(2) {
    color: #000;
    font-size: 1.1rem;
  }
}
main .shop-cart-container {
  padding: 2rem 1rem;
}
main .shop-cart-container .title h1 {
  color: black;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}
main .shop-cart-container .table {
  width: 100%;
}
main .shop-cart-container .table tbody img {
  width: 200px;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=main.css.map */