main {
  .shop-cart-container {
    padding: 2rem 1rem;
    .title {
      h1 {
        color: black;
        font-size: 3rem;
        font-weight: 700;
        text-align: center;
      }
    }
    .table {
      width: 100%;
      tbody {
        img {
          width: 200px;
          height: 220px;
          object-fit: cover;
        }
      }
    }
  }
}
